%% Common project erlang options.
{erl_opts, [
    % mandatory
    debug_info,
    warnings_as_errors,
    warn_export_all,
    warn_missing_spec,
    warn_untyped_record,
    warn_export_vars,

    % by default
    warn_unused_record,
    warn_bif_clash,
    warn_obsolete_guard,
    warn_unused_vars,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_deprecated_function

    % at will
    % bin_opt_info
    % no_auto_import
    % warn_missing_spec_all
]}.

%% Common project dependencies.
{deps, [
    {bender_proto,
        {git, "git@github.com:rbkmoney/bender-proto.git",
        {branch, "master"}}
    },
    {erl_health,
        {git, "https://github.com/rbkmoney/erlang-health.git",
        {branch, "master"}}
    },
    {genlib ,
        {git, "https://github.com/rbkmoney/genlib.git",
        {branch, "master"}}
    },
    {logger_logstash_formatter,
        {git, "git@github.com:rbkmoney/logger_logstash_formatter.git",
        {branch, master}}
    },
    {machinery,
        {git, "git@github.com:rbkmoney/machinery.git",
        {branch, "master"}}
    },
    {scoper,
        {git, "git@github.com:rbkmoney/scoper.git",
        {branch, "master"}}
    },
    {snowflake,
        {git, "https://github.com/rbkmoney/snowflake.git",
        {branch, "master"}}
    },
    {woody,
        {git, "git@github.com:rbkmoney/woody_erlang.git",
        {branch, "master"}}
    }
]}.

{plugins, [
    {rebar3_thrift_compiler,
        {git, "https://github.com/rbkmoney/rebar3_thrift_compiler.git", {branch, "master"}}}
]}.

%% XRef checks
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    deprecated_functions_calls,
    deprecated_functions
]}.

% at will
{xref_warnings, true}.

%% Tests
{cover_enabled, true}.

%% Relx configuration
{relx, [
    {release, {bender, "1.0.0"}, [
        {logger_logstash_formatter, load}, % log formatter
        bender
    ]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

%% Dialyzer static analyzing
{dialyzer, [
    {warnings, [
        % mandatory
        unmatched_returns,
        error_handling,
        race_conditions,
        unknown
        % hardcore mode
        % overspecs,
        % underspecs
    ]},
    {plt_apps, all_deps}
]}.

{profiles, [
    {test, [
        {deps, [
        ]}
    ]},

    {prod, [
        {deps, [
            % for introspection on production
            {recon, "2.3.2"}
        ]},
        {relx, [
            {release, {bender, "1.0.0"}, [
                {recon, load},                     % tools for introspection
                {runtime_tools, load},             % debugger
                {tools, load},                     % profiler
                {logger_logstash_formatter, load}, % log formatter
                sasl,
                bender
            ]},
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.

{plugins, [
    rebar3_run
]}.

