version: '2.4'

services:
  bender:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/_bender
    working_dir: /_bender
    command: /sbin/init
    depends_on:
      machinegun:
        condition: service_healthy

  machinegun:
    image: dr2.rbkmoney.com/rbkmoney/machinegun:bc41864a0db9a4a8340642cf765a9df7fa6890ff
    command: /opt/machinegun/bin/machinegun foreground
    volumes:
      - ../test/machinegun/config.yaml:/opt/machinegun/etc/config.yaml
      - ../test/machinegun/cookie:/opt/machinegun/etc/cookie
    healthcheck:
      test: "curl http://localhost:8022/"
      interval: 5s
      timeout: 1s
      retries: 12
